html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.header {
  background: black;
  width: 100vw;
  height: 10vh;

  display: flex;
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px; */
}

.header > div {
  background: yellow;
}

/* .container {
  background: black;
  width: 100vw;
  height: 90vh;

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
}

.container > div {
  background: #7159c1;
} */