{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Curso</title>
    {% bootstrap_css %}
</head>
<body>
<div class="container">
    <h1>Curso</h1>
    {% bootstrap_messages %}
    <form action="{% url 'curso' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <a href="{% url 'index' %}"><button type="button" class="btn btn-primary">Retornar</button></a>
        <button type="submit" class="btn btn-primary">Cadastrar Curso</button>
        {% endbuttons %}
    </form>
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>